.Rproj.user
.Rhistory
.RData
.Ruserdata
_data/*
*.rds
*.tif
_data_prod/*
.DS_Store
Distribution spatiale de la bruyère des neiges.md
README.html
carte.jpeg
legend.jpeg
legend2.jpeg
rapport.html
rapport.md
rapport_files/*
*_cache/
rapport.pdf
